{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
  <p><strong>Average Rating: </strong></p>
  <p><strong>Description: </strong> {{ book.summary }}</p>
  <p><strong>Publishing Info: </strong>{{ book.publisher }}</p> 
  <p><strong>Genre: </strong> {{ book.genre.all|join:", " }}</p> 
  <p><strong>Author: </strong> <a href="../author/?q={{ book.author.first_name }}+{{ book.author.last_name }}" title="Click here to search books by author!">{{book.author}}</a>
  <p><strong>Author Biography: </strong>{{ book.author.biography }}
  <p><strong>Cover: </strong><a href="{{book.model_pic.url}}">
  <img src="{{book.model_pic.url}}" width="240"></img></a></p>
  <p><strong>Submitted Comments & Rating: {{book.}}</strong></p>
  <a href="{{ book.get_add_to_cart_url }}"> <button type="button">Add to Cart</button> </a>
{% endblock %}