{% extends "base_generic.html" %}

{% block content %}
  <h2>Book List</h2>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) <strong>${{book.price}}</strong>
        <p><strong>Average Rating:</strong></p>
        <p><img src={{book.model_pic.url}} style="width: 100px; height: 100px" /></p>
        <a href="{{ book.get_add_to_cart_url }}"}> <button type="button">Add to Cart</button> </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p><strong>There are no books with that genre in this catalog.</strong></p>
  {% endif %}     
  
{% endblock %}