{% extends "base_generic.html" %}

{% block content %}
<script type="text/javascript">
function CheckSort(val){
 var element=document.getElementById('sorts');
   document.getElementById("sorthidden").value = val
}

</script> 
  <h2>Book List</h2>
  <p></p>
  <form method="get" action="{% url 'books' %}">
  Sort by: <select id="browse" value="orderby" name="sorts" onchange='CheckSort(this.value);'>
  <option value="genre">Genre</option>
  <option value="title">Title</option>
  <option value="author">Author</option>
  <option value="price">Price</option>
  <option value="bookrating">Rating</option>
  <option value="publishing_date">Date</option>
  </select>

  <input type="hidden" id="sorthidden" value=genre name="orderby"/>
  <input type="submit" value="Submit" class="button2"/>
  </form>
  <p></p>

  {% if book_list %}
  <table style="width: 90%">
    {% for book in book_list %}
      <td>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) <strong>${{book.price}}</strong>
        <p><strong>Average Rating:</strong>{{ book.average_rating }}</p>
        <p><img src={{book.model_pic.url}} style="width: 100px; height: 100px" /></p>
      </td>
    {% endfor %}
  </table>
  <!----<ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) <strong>${{book.price}}</strong>
        <p><strong>Average Rating:</strong>{{ book.average_rating }}</p>
        <p><img src={{book.model_pic.url}} style="width: 100px; height: 100px" /></p>
      </li>
    {% endfor %}
  </ul>-->
  {% else %}
    <p><strong>There are no books with that genre in this catalog.</strong></p>
  {% endif %}     
  
{% endblock %}