{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Your Wishlists</h1>
    {% for wishlist in wishlists %}
    <ol>
    {% for book in wishlist.books.all %}
    <li>{{ book.title }} <a href="{{book.get_add_to_cart_url}}"> <button type="button" class="button2">Add to Cart</button> </a>
    <a href="{{book.get_remove_from_wishlist_url}}"> <button type="button" class="button2">Remove from Wishlist</button> </a>

        <form action="{{book.get_transfer_wishlist_url}}" method="post">
            {% csrf_token %}
            Move to Wishlist:
            <select name="wish">
                {% for list in wishlists %}
            <option value="{{list.id}}">{{list.name}}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="cwish" value="{{wishlist.id}}">
            <button type="submit" class="button2">Move</button>
        </form>
    </li>
    {% endfor %}
    </ol>
    {% endfor %}

    <h4>{{ wishlist.name }}</h4> <form action="{% url 'delete-wishlist' %}" method="post">{% csrf_token %} <button type="submit" name="del" value="{{wishlist.id}}" class="button3">Delete list</button></form>

    <a href="newwish/">Add New Wishlist</a>

    {% else %}
    <h1>Oops!</h1>
    <p>You are not <a href="{% url 'login' %}">logged in</a>.</p>
{% endif %}

{% endblock %}