<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background-color: white;">

  <div class="mt-5 pt4">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul>
          <li><a href="{% url 'index' %}" class="liststyle">Home</a></li>
          <li><a href="{% url 'search' %}" class="liststyle">Search By Genre</a></li>
          <li><a href="{% url 'topsellers' %}" class="liststyle">Top Sellers</a></li>
          <li><a href="{% url 'books' %}" class="liststyle">All Books</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'shoppingcart' %}" class="liststyle">Shopping Cart</a></li>      
          <li><a class="liststyle">User: {{ user.get_username }}</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}" class="liststyle">Logout</a></li>
          <li><a href="{% url 'profile'%}" class="liststyle">View Profile</a>
          <li><a href="{% url 'wishlists'%}" class="liststyle">View Wishlists</a>
          {% else %}
            <li><a href="{% url 'login'%}" class="liststyle">Login</a></li>   
            <li><a href ="{% url 'signup' %}" class="liststyle">Register</a></li> 
          {% endif %}
        </ul>
     {% endblock %}
     
     {% block pagination %}
     {% load test %}
      {% if is_paginated %}
      <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?{% param_replace page=1 %}">First</a>
      {% if page_obj.previous_page_number != 1 %}
        <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
      {% endif %}
    {% endif %}

    Page {{ page_obj.number }} of {{ paginator.num_pages }}

    {% if page_obj.has_next %}
      {% if page_obj.next_page_number != paginator.num_pages %}
        <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
      {% endif %}
      <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
    {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %} 
      </div>
      <div class="col-sm-10" id="col-sm-10">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>