{% extends "base_generic.html" %}

{% block content %}

  <style>
    h2 {text-align: center;
        font-size: 48px;    
    }
    h3 {text-align: center;
        font-size: 32px;
    }
    p {text-align: center;
        font-size: 18px;
    }
  </style>

  <h2 class="center">Welcome to BookApp!</h2>
  <p></p>
  <h3 class="center">Go ahead and click search on the left!</h3>
  <p></p>
  <p class="center">The library has the following book & author counts:</p>
    <p class="center"><strong>Books:</strong> {{ num_books }}</p>
    <p class="center"><strong>Authors:</strong> {{ num_authors }}</p>
{% endblock %}