{% extends "base_generic.html" %}

{% block content %}
  <h2>Profile</h2>
<a href= {% url 'shipaddr' %}> <button type="button">Shipping Addresses</button> </a>
<a href= {% url 'creditcards' %}> <button type="button">Credit Cards</button> </a>  
<p><strong>Username:</strong> {{user}}</p>
<p><strong>First name:</strong> {{user.first_name}}</p>
<p><strong>Last name:</strong> {{user.last_name}}</p>
<p><strong>Email:</strong> {{user.email}}</p>
<p><strong>Address:</strong> {{user.userprofile.address}}</p>
<p><strong>City:</strong> {{user.userprofile.city}}</p>
<p><strong>State:</strong> {{user.userprofile.state}}</p>
<p><strong>Zip:</strong> {{user.userprofile.zipcode}}</p>
<p></p>
<a href="./edit">Edit Profile</a>
{% endblock %}