{% extends "base_generic.html" %}

{% block content %}
  <h2>Shopping Cart</h2>
  {% if shopping_cart %}
  <ul>
    {% for book in shopping_cart %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}}) <strong>${{book.price}}</strong>
        <p><img src={{book.model_pic.url}} style="width: 100px; height: 100px" /></p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p><strong>There are no books in your shopping cart.</strong></p>
  {% endif %}     
  
{% endblock %}