.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.button1 {
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 51.3%;
  overflow: auto;
  border: 1px solid #555;
}

li a.liststyle {
  display: block;
  background-color: dodgerblue;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

body {
  background-color: white;
}
